<form action="your-action" (ngSubmit)="onSubmit($event)" class="form">
        <div class="row">
            <div class="col-6">
                <app-password-box [(value)]="currentPassword" [validationRules]="validationRules"
                    [label]="'users.current_password' | i18n" appAutoFocus>
                </app-password-box>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <app-password-box [(value)]="newPassword" [validationRules]="validationRules"
                    [label]="'users.password' | i18n">
                </app-password-box>
            </div>
            <div class="col-6">
                <app-password-box [validationRules]="validationRuleConfirmation"
                    [label]="'users.password_repeat' | i18n">
                </app-password-box>
            </div>
        </div>
        
        <app-toolbar-ok-cancel (onCancel)="cancel()" [fixedBottom]="true"></app-toolbar-ok-cancel>
        
</form>