<div class="form-group">
    <label>{{label | i18n}}</label>
        <dx-select-box
            [(value)]="value" 
            [items]="items"
            [valueExpr]="valueExpr"
            [displayExpr]="displayExpr"
            [disabled]="disabled"
            [showClearButton]="showClearButton"
            [width]="width"
            [hint]="hint"
            [placeholder]="placeholder"
            [stylingMode]="stylingMode"
            (onEnterKey)="enterKey($event)"
            (onFocusIn)="focusIn($event)" 
            (onFocusOut)="focusOut($event)"
            (onValueChanged)="valueChanged($event)">
            <dx-validator [validationRules]="validationRules"></dx-validator>
        </dx-select-box>
</div>