<div class="form-group">
    <label>{{label | i18n}}</label>
    <dx-text-box [mode]="passwordMode" [(value)]="value" [width]="width" [readOnly]="readOnly" [disabled]="disabled"
        [showClearButton]="showClearButton" [hint]="hint" [validationMessageMode]="validationMessageMode"
        [placeholder]="placeholder" [stylingMode]="stylingMode" (onEnterKey)="enterKey($event)">
        <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
        <dx-validator [validationRules]="validationRules"></dx-validator>
    </dx-text-box>
</div>