/* You can add global styles to this file, and also import other style files */
.form-group {
    margin-bottom: 20px;

    label {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.87);
        margin-bottom: 0px;
    }    
}

